{% extends 'base.html.twig' %}
{# @var entry \DH\Auditor\Model\Entry #}

{% block topbar %}
    <nav class="whatwedo_crud-topbar flex-grow-0 flex-auto px-4 py-4 min-h-[71px] flex justify-end lg:justify-between">
        {% block breadcrumbs %}
            {% include "@whatwedoCrud/includes/topbar/_breadcrumbs.html.twig" %}
        {% endblock %}

        {% block actions %}
        <div class="hidden md:flex lg:ml-3 flex space-x-3 justify-end flex-nowrap items-stretch">
            <a href="{{ wwd_crud_entity_path(entity, constant('whatwedo\\CrudBundle\\Enums\\Page::SHOW')) }}" class="whatwedo-crud-button--action" role="menuitem" tabindex="-1">
                <span class="2xl:block">{{ 'whatwedo_crud_history.back'|trans({'%name%': entityTitle|trans }) }}</span>
            </a>
        </div>
        {% endblock %}
    </nav>
{% endblock %}

{% block main %}
    <h1 class="mb-6 whatwedo-utility-heading-1">{{ 'whatwedo_crud_history.title' | trans }}</h1>
    {% if transactionList|length > 0 %}
        <div class="bg-white shadow overflow-hidden sm:rounded-md">
            <ul role="list" class="divide-y divide-gray-200">
                {% for transaction in transactionList %}
                    <li>
                        {% set firstHistoryItem = transaction|first %}
                        {% set entry = firstHistoryItem.entry %}
                        <div class="block hover:bg-gray-50">
                            <div class="flex items-center px-4 py-4 sm:px-6">
                                <div class="min-w-0 flex-1 flex items-center">

                                    <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                                        <div>
                                            <p class="text-sm font-medium text-primary-500 truncate">
                                                {{ entry.username }}
                                                <span class="text-sm text-gray-900">
                                                    <time datetime="{{ firstHistoryItem.date|date('Y-m-d H:i:s') }}">{{ firstHistoryItem.date|date('d.m.Y H:i') }}</time>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="hidden md:block">
                                            <div>
                                                <p class="mt-2 flex items-center text-sm text-gray-500">
                                                    {% for audit in transaction %}
                                                        {% if audit.entry.type == 'insert' %}
                                                            {{ bootstrap_icon('plus-circle') }}
                                                        {% elseif audit.entry.type == 'update' %}
                                                            {{ bootstrap_icon('pencil-square') }}
                                                        {% elseif audit.entry.type == 'remove' %}
                                                            {{ bootstrap_icon('x-circle') }}
                                                        {% elseif audit.entry.type == 'associate' %}
                                                            {{ bootstrap_icon('link-45deg') }}
                                                        {% elseif audit.entry.type == 'dissociate' %}
                                                            {{ bootstrap_icon('dash-circle-fill') }}
                                                        {% endif %}
                                                        &nbsp; {{ ('wwd.'~audit.class|wwd_crud_entity_alias~'.title')|trans }} {{ ('whatwedo_crud_history.type.'~audit.entry.type)|trans }}
                                                    {% endfor %}

                                                </p>
                                            </div>
                                        </div>
                                        <div class="hidden md:block">
                                            <div>
                                                <p class="mt-2 flex items-center text-sm text-gray-500">
                                                <ul>
                                                    {% for audit in transaction %}
                                                        {% if audit.entry.type == 'insert' %}
                                                            {{ _self.insert(audit) }}
                                                        {% elseif audit.entry.type == 'update' %}
                                                            {{ _self.update(audit) }}
                                                        {% elseif audit.entry.type == 'remove' %}
                                                            {{ _self.remove(audit) }}
                                                        {% elseif audit.entry.type == 'associate' %}
                                                            {{ _self.associate(audit) }}
                                                        {% elseif audit.entry.type == 'dissociate' %}
                                                            {{ _self.dissociate(audit) }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
    {% else %}
        {{ 'history.no_items'|trans }}
    {% endif %}

{% endblock %}

{% macro insert(audit) %}
    <li>
        <b> {{ ('wwd.'~audit.class|wwd_crud_entity_alias~'.title')|trans }} {{ ('whatwedo_crud_history.type.'~audit.entry.type)|trans }}</b><br>
        <ul>
            {% for property, diff in audit.entry.diffs %}
                <li>
                    {{ ('wwd.'~audit.class|wwd_crud_entity_alias~'.property.'~property)|trans }}
                    : {{ _self.value(diff.new) }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endmacro %}

{% macro update(audit) %}
    <li>
        <b> {{ ('wwd.'~audit.class|wwd_crud_entity_alias~'.title')|trans }} {{ ('whatwedo_crud_history.type.'~audit.entry.type)|trans }}</b><br>
        <ul>
            {% for property, diff in audit.entry.diffs %}
                <li>
                    {{ ('wwd.'~audit.class|wwd_crud_entity_alias~'.property.'~property)|trans }} {{ 'whatwedo_crud_history.changed'|trans({'%old%': _self.value_old(diff.old), '%new%': _self.value(diff.new)})|raw }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endmacro %}

{% macro remove(audit) %}
    <li>
        <b>{{ ('wwd.'~audit.class|wwd_crud_entity_alias~'.title')|trans }}
            {{ ('whatwedo_crud_history.type.'~audit.entry.type)|trans }}
        </b>
        {{ _self.target(audit.entry.diffs) }}
        <br>
    </li>
{% endmacro %}

{% macro associate(audit) %}
    <li>
        {{ _self.target(audit.entry.diffs.target) }} {{ 'whatwedo_crud_history.assigned'|trans }}
    </li>
{% endmacro %}

{% macro dissociate(audit) %}
    {% if audit.entry.diffs.target %}
        <li>
            {{ _self.target(audit.entry.diffs.target) }} {{ 'whatwedo_crud_history.deleted'|trans }}
        </li>
    {% endif %}
{% endmacro %}


{% macro value(value) %}
    {% if value.label is defined %}
        {{ value.label|trans }}
    {% else %}
        {{ value|trans }}
    {% endif %}
{% endmacro %}

{% macro value_old(value) %}
    <span class="line-through">
    {% if value.label is defined %}
        {{ value.label|trans }}
    {% else %}
        {{ value|trans }}
    {% endif %}
        </span>
{% endmacro %}

{% macro target(target) %}
    {{ ('wwd.'~target.class|wwd_crud_entity_alias~'.title')|trans }}: {{ target.label }}
{% endmacro %}

